@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{ var greeting = "Welcome!"; } 

<div class="text-center">
    <h1 class="display-4">@greeting</h1>
    <p>This Web app is still under construction as of @ViewData["TimeStamp"].</p>
</div>
