<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d30d7eb8-547e-40fe-9c6c-bc8244f1ff32/resourcegroups/AzureDemo20210911134029ResourceGroup/providers/Microsoft.Web/sites/AzureDemo20210911134029</ResourceId>
    <ResourceGroup>AzureDemo20210911134029ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azuredemo20210911134029.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>72f936c6-faeb-457d-92e6-674e7a7aa9ea</ProjectGuid>
    <PublishUrl>https://azuredemo20210911134029.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AzureDemo20210911134029</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>